body {
    background-color: #e6dcf2;
    padding: 0;
    margin: 0;
    font-family:  system-ui, -apple-system, 'Segoe UI', Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
  
  
  li, ul {list-style-type: none;}/* Quita puntos */

  .icon {text-decoration: none;} /* Quita el subrayado */

  
  /* Header */
  header {background-color: #2a212f;}
  
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 10px;
  }
  
  nav ul {
    color: rgb(212, 199, 215);
    display: flex;
    gap: 15px;
    text-decoration: underline;
  }
  
  
  /* Banner */
  .banner {
    position: relative;
    text-align: center;
    color: rgb(212, 199, 215);
  }
  
  .banner img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .banner-text {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    background-color: rgba(0, 0, 0, 0.516);
    padding: 1px 10px;
    border-radius: 5px;
  }


ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

.text-header {
    cursor: pointer;
}

/* Contenedor del juego */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

/* Tarjeta del juego */
.container-game {
    display: flex;
    flex-direction: column;
    background: white;
    color: black;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

/* Imagen del juego */
.container-image {
    flex: 1;
    max-width: 100%;
    margin-bottom: 8px;
}

.image-game {
    width: 100%;
    border-radius: 8px;
}

/* Texto del juego */
.game-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 5px;
    width: 100%;
}

.text-game {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 2px;
    text-align: left;
}

.game-description {
    font-size: 14px;
    color: #555;
    margin-bottom: 2px;
    text-align: left;

}

.game-price {
    font-size: 16px;
    font-weight: bold;
    color: #2a212f;
    text-align: right;
    margin-right: 15px;
}
