body {
  background-color: #e6dcf2;
  font-family:  system-ui, -apple-system, 'Segoe UI', sans-serif;
}

/* Quita puntos y subrayado */
li, ul, a {
  list-style-type: none !important;
  text-decoration: none !important; 
}

/* Header */
header {background-color: #2a212f;}
.text-custom-light {color: rgb(212, 199, 215);}


@media (max-width: 768px) {
  .container-fluid {
      padding: 0 15px;
  }

  .icons img {
      width: 35px;
      height: 35px;
  }

  .card {
      width: 90%;
  }

  .card-img-top {
      height: 250px;
      object-fit: cover;
  }

  .card-body {
      padding: 15px;
  }

  .fs-4 {
      font-size: 18px;
  }

  .fs-5 {
      font-size: 14px;
  }

  .gap-3 {
      gap: 10px;
  }
}

@media (max-width: 576px) {
  .icons img {
      width: 30px;
      height: 30px;
  }

  .card {
      width: 100%;
  }

  .card-img-top {
      height: 200px;
  }

  .card-body {
      padding: 10px;
  }

  .fs-4 {
      font-size: 16px;
  }

  .fs-5 {
      font-size: 14px;
  }

  .gap-3 {
      gap: 8px;
  }
}
