body {
  background-color: #e6dcf2;
  font-family:  system-ui, -apple-system, 'Segoe UI', sans-serif;
}

/* Quita puntos y subrayado */
li, ul, a {
  list-style-type: none !important;
  text-decoration: none !important; 
}

/* Header */
header {background-color: #2a212f;}
.text-custom-light {color: rgb(212, 199, 215);}


/* Footer */
footer {
  background-color: rgb(137, 117, 142);
}

/* Responsividad */
@media (max-width: 768px) {
  .square-img img {
      width: 100%; 
      height: 200px; /* Ajusta el tama침o */
      object-fit: cover; /* Imagen no se deforma */
  }

  .text-custom-light {
      font-size: 15px; /* Reduce el tama침o del texto */
  }

  .gap-3 {
      gap: 10px; /* Reduce la separaci칩n de los elementos */
  }

  .container {
      padding: 10px; /* Reduce el padding general */
  }

  h5 {
      font-size: 16px; 
  }
}

/* 游 Pantallas extra peque침as (Menos de 576px) */
@media (max-width: 576px) {
  .square-img img {
      height: 150px;
  }

  .header-container {
      flex-direction: column; /* Hace que el header se apile */
      text-align: center;
  }

  .text-custom-light {
      font-size: 13x;
  }

  h5 {
    font-size: 14px; 
  }
}